@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: rgba(242, 242, 242, 1);
  font-family: 'Montserrat', sans-serif;
}

.title_wrap {
  color: rgb(60, 60, 60);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  .title {
    text-align: center;
  }
}

.container {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  .column {
    transition: 1s;
    width: 12%;
    margin-top: 25px;
    .image-card {
      border-radius: 5px;
      margin-bottom: 50px;
      // width: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      background-color: rgba(242, 242, 242, 1);
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      // height: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .pic {
        border-radius: 5px;
        width: 120%;
        height: 120%;
        transition-duration: 1s;
        z-index: 100;
        // object-fit: contain;
      }
    }
    .card_wrap {
      transition: 1s;
      background-color: transparent;
      color: rgb(60, 60, 60);
      width: 100%;
      height: 200px;
      perspective: 1000px;
      margin-bottom: 50px;
      // border: 1px solid black;

      .flip-card-inner {
        position: relative;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
        display: flex;
        justify-content: space-around;
        z-index: 50;
      }

      .flip-card-front,
      .flip-card-back {
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }

      .flip-card-front {
        background-color: rgba(242, 242, 242, 1);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        height: 150px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .avatar {
          border-radius: 100%;
          width: 100px;
          height: 100px;
        }
      }

      .flip-card-back {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        height: initial;
        background-color: rgba(242, 242, 242, 1);
        transform: rotateY(180deg);
        line-height: 24px;
      }
    }
  }
}
